html {
  display: flex;
  align-items: center;

  height: 100%;

  font-family: sans-serif;
}

body {
  height: 500px;
  margin: auto;
}

.title {
  margin: 5px 0;

  font-family: 'Indie Flower', cursive;
  font-size: 2.5em;
  text-align: center;
}

.search-field {
  width: 300px;
  height: 40px;

  border: solid 1px rgba(61, 61, 61, 0.3);

  font-size: 1.1em;
}

.hiddenSuggest,
.hiddenResult,
.hiddenForecast {
  display: none;
}

.suggest {
  width: 300px;

  box-shadow: 10px 14px 28px rgba(0, 0, 0, 0.05), 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.result,
.hoveredResult {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 290px;
  height: 55px;
  padding: 5px;

  border: solid 1px rgba(61, 61, 61, 0.3);
  border-top: none;

  background: rgba(184, 252, 251, 0.3);
}

.result:hover,
.hoveredResult {
  background: rgba(184, 252, 251, 0.6);

  cursor: pointer;
}

.airport {
  font-size: 1.2em;
}

.info {
  font-size: 0.8em;
}

.show-button {
  height: 40px;

  border: solid 1px rgba(61, 61, 61, 0.3);

  background: rgba(184, 252, 251, 0.5);
}

.show-button:hover {
  background: rgba(184, 252, 251, 0.8);

  cursor: pointer;
}

.forecast {
  display: flex;

  margin-top: 15px;
  padding: 15px;

  border: solid 1px rgba(61, 61, 61, 0.2);
  border-radius: 15px;

  background: rgba(156, 255, 230, 0.3);
}

.forecast-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-size: 1.1em;
}

img {
  margin-right: 15px;
}
