html,
body {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  height: auto;

  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: solid 1px rgba(194, 194, 194, 1);

  background: #ffffff;
}

h1 {
  font-family: 'PT SansNarrow', sans-serif;
  font-size: 32px;
  text-align: center;
}

h1:first-letter {
  color: rgba(207, 35, 35, 1);
}

main {
  min-height: 80%;

  margin-top: 90px;

  background: rgba(255, 255, 255, 0.7) url(images/background.jpg) repeat;
  background-blend-mode: color;
  background-size: contain;
}

input {
  display: none;
}

label {
  position: relative;

  display: block;

  width: 40px;
  height: 40px;

  margin: 10px 10px 0;
}

.button {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url(images/toList.jpg);
  background-size: contain;
  cursor: pointer;
}

input:checked ~ label .button {
  background: url(images/toTable.jpg);
  background-size: contain;
}

footer a {
  color: #4c4cd8;
}

.cat-info a {
  color: rgba(0, 0, 0, 1);
}

.cat-info {
  display: inline-block;

  width: 200px;
  height: 300px;

  margin: 10px;

  border: solid 1px rgba(194, 194, 194, 1);

  background: rgba(255, 255, 255, 1);

  font-family: 'PT SansNarrow', serif;
  text-align: center;
}

.cat-info:hover {
  box-shadow: 10px 14px 28px rgba(0, 0, 0, 0.25), 10px 10px 10px rgba(0, 0, 0, 0.22);
}

img {
  width: 100%;
  height: 60%;

  object-fit: cover;
  vertical-align: top;
}

.cat-info p {
  margin: 15px;
}

.cat-name {
  overflow: hidden;

  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.cat-description {
  font-size: 15px;
  font-style: italic;
}

.full-description {
  display: none;
}

input:checked ~ .cat-info {
  display: block;

  width: 70%;
  height: 500px;

  margin: 10px auto 0;
}

input:checked ~ .cat-info:hover {
  box-shadow: none;
}

input:checked ~ .cat-info .cat-description {
  display: none;
}

input:checked ~ .cat-info img {
  width: auto;
  height: 70%;

  object-fit: cover;
  vertical-align: top;
}

input:checked ~ .cat-info .cat-name {
  margin-bottom: 0;

  font-size: 25px;
}

input:checked ~ .cat-info .full-description {
  display: block;

  margin-top: 10px;

  font-size: 18px;
  line-height: 1.5;
}

footer {
  width: 100%;
  height: auto;

  margin-top: 5px;

  background: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

address {
  font-style: normal;
}

.company {
  position: absolute;
  right: 0;
}
