html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.close-button {
  display: none;
}

.cat-form {
  display: flex;

  width: 50vw;
  min-width: 750px;
  height: 50vh;
  min-height: 400px;

  border: solid 1px rgba(194, 194, 194, 0.3);
  border-radius: 10px;

  background: rgba(173, 173, 173, 0.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.close-button:checked ~ .cat-form {
  display: none;
}

.cat-form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 55%;
  height: 100%;

  padding: 0 3%;
}

.cat-form__header {
  width: 85%;
  height: 1%;

  color: rgba(38, 38, 38, 0.82);
  text-align: center;
}

.cat-form__text {
  width: 90%;

  color: rgba(38, 38, 38, 0.7);
  text-align: center;
}

.cat-form__cat-info {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 90%;
  height: 10%;
}

.cat-form__input-age,
.cat-form__input-weight {
  width: 30%;
  height: 70%;

  border: solid 1px rgba(194, 194, 194, 0.3);

  background: rgba(98, 168, 161, 0.2);
}

.cat-form__age,
.cat-form__weight {
  cursor: pointer;
}

.cat-form__program {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  height: 10%;

  text-align: center;
}

.cat-form__more,
.cat-form__less,
.cat-form__idk {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 33%;
  height: 70%;

  border: solid 1px rgba(194, 194, 194, 0.3);

  background: rgba(98, 168, 161, 0.2);

  cursor: pointer;
}

.cat-form__more:hover,
.cat-form__less:hover,
.cat-form__idk:hover {
  background: rgba(98, 168, 161, 0.35);
}

.cat-form__input-more:checked ~ .cat-form__more,
.cat-form__input-less:checked ~ .cat-form__less,
.cat-form__input-idk:checked ~ .cat-form__idk {
  background: rgba(0, 235, 211, 0.7);
}

.cat-form__input-more,
.cat-form__input-less,
.cat-form__input-idk {
  display: none;
}

.cat-form__input-email {
  width: 90%;
  height: 7%;

  border: solid 1px rgba(194, 194, 194, 0.3);

  background: rgba(98, 168, 161, 0.2);
}

.cat-form__want-spam {
  display: flex;
  align-items: center;

  width: 90%;

  color: rgba(38, 38, 38, 0.7);
}

.cat-form__submit-button {
  width: 70%;
  height: 10%;

  border: none;
  border-radius: 5px;

  background: rgba(0, 235, 211, 0.7);
  cursor: pointer;

  font-size: 100%;
  font-weight: bold;
}

.cat-form__submit-button:hover {
  background: rgba(0, 235, 211, 0.5);
}

.cat-form__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 35%;
}

.cat-form__top-rectangle,
.cat-form__bottom-rectangle {
  width: 82%;

  background: rgba(0, 235, 211, 0.7);
}

.cat-form__top-rectangle {
  height: 30%;
}

.cat-form__cat-photo {
  width: 100%;
  height: 47%;

  object-fit: cover;
  vertical-align: top;
}

.cat-form__bottom-rectangle {
  height: 20%;
}

.cat-form__close-icon {
  width: 37px;
  height: 37px;

  margin-top: 1vh;
  margin-right: 1vh;

  background: url(images/cross_icon.svg);
  background-size: contain;
  cursor: pointer;
}
